body {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    color: #164863;
  }
  .navbar{
    background-color: #164863;
    width: 100%;
    height:60px;
  }
  .navbar h2{
    color: whitesmoke;
    margin: 0px;
    margin-left: 20px;
    padding-top: 15px;
    float: left;
  }
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  lable{
    color: #164863;
  }
  
  .form-control {
    display: flex;
    width: 270px;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #164863;
  }
  .error-message{
    margin-top: 0px;
    color: red;
  }
  
  button{
    font-family: "Open Sans", sans-serif;
    font-style:italic;
    font-weight: bold;
    display: inline-block;
    background-color: #164863;
    border: 1px solid lightskyblue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .button{
    font-family: "Open Sans", sans-serif;
    font-style:italic;
    font-weight: bold;
    float: right;
    background-color: #164863;
    border-radius: 5px;
    color: white;
    padding: 15px;
    text-decoration: none;
  }

  #changeButton:disabled{
    background-color: white;
    border: 1px solid #164863;
    color: #164863;
    opacity: 0.5;
    
  }

  #emessage{
    text-align: center;
    color: red;
  }

  #successMessage{
    text-align: center;
    color: green;
  }
